

 
 *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    /* -webkit-text-size-adjust: 100%; */
    -webkit-tap-highlight-color: transparent;
  }

  body {
    margin: 0;
    /* line-height: 1.5; */
  }

  img {
    max-width: 100%;
    display: block;
  }