:root {
  /* Spacing */
  --space-4xs: 0.125rem; /* 2px */
  --space-3xs: 0.25rem; /* 4px */
  --space-2xs: 0.5rem; /* 8px */
  --space-xs: 0.75rem; /* 12px */

  /* Containers */
  --container-sm: 640px;
  --container-md: 768px;
  --container-lg: 1024px;

  /* Radius */
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
}
